.section__project {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.project__image {
    width: 90%;
    margin-bottom: 0.5rem;
    padding: 0 5%;
    max-width: 1200px;
    
}
